<?xml version="1.0"?>
<configuration>
  <appSettings>
  <add key="strConnexionDVD" value="Database=BD5W6_424R;server=sqlinfo.cgodin.qc.ca;uid=5w6equipe424r;password=Secret44632;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
      <customErrors mode="Off"/>
  </system.web>

    
</configuration>